@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Dela+Gothic+One&family=Martian+Mono:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin:0  7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 2px rgba(0,0,0.17);
    height: 6rem;
    background-image: linear-gradient(to right bottom, rgb(224, 223, 230), rgb(250, 250, 250));
}

#img-logo{
    margin-right: 10px;
}

.my-logo{
    width: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    color: white;
    text-shadow: 1px 1px 0px black;
}

nav ul{
    display: flex;
    justify-content: space-between;

}

ul li {
    list-style-type: none;

}

ul li a{
    text-decoration: none;
    padding-right: 1rem;
    font-family: "Martian Mono", monospace;
    font-size: 1rem;
    cursor:pointer;
    color: rgb(70, 69, 69);
} 

ul li a:hover{
    color: rgb(160, 11, 11);
} 

.content {
    height: 100vh;
    margin:2rem  7rem;
    box-shadow: 0px 0px 2px rgba(0,0,0.17);
}

.container {
	display: flex;
	justify-content: space-between;
    align-items: center;


}
.level-basic{
	margin-top:10px;
	margin-left:10px;
	background-image: linear-gradient(to bottom right, rgb(153, 153, 245), white);
	 padding: 16px 40px;
    border-radius: 8px;
    border: 2px solid rgb(153, 153, 245);
	font-family: "Bungee Tint", sans-serif;
	font-size: 1rem;
}

.button-switch{
	background-image: linear-gradient(to bottom right, rgb(153, 153, 245), white);
	padding: 10px 20px;
    margin: 4px;
    border-radius: 5px;
    border: 2px solid rgb(153, 153, 245);
}

.fa-water-ladder{
    font-size: large;
    color: rgb(44, 43, 43);
}

.aulas{
	margin-top:2rem;
	display:flex;
	flex-flow: wrap row;
	justify-content: space-around;
	align-items: center;
	
}

.aulas > div:nth-child(-n+6){
	height: 250px;
	width: 320px;
	border: solid 2px red;
	border-radius: 6px;
	margin-bottom:1rem;
}



h1{
    font-family: "Martian Mono", monospace;
    font-size: 1rem;
	text-align: center;
}

.scroll{
    height: 900px;
    margin:2rem  7rem;
    box-shadow: 0px 0px 2px rgba(0,0,0.17);

}

.second-container{
display: flex;
flex-direction: column;
gap:1.5rem;
}

.block1, .block2, .block3{
    border: solid 2px rgb(102, 0, 128);
    height: 16rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto1, .texto2, .texto3{
    height: 240px;
    width: 500px;
    border: solid 2px black;
}

.image1, .image2, .image3{
    height: 240px;
    width: 400px;
    border: solid 2px green;
}



h2, p{
    text-align: left;
}

footer{
    height: 200px;
    margin:2rem  7rem;
    box-shadow: 0px 0px 2px rgba(0,0,0.17);
	
}