@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Dela+Gothic+One&family=Martian+Mono:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin:0  7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 2px rgba(0,0,0.17);
    height: 6rem;
    background-image: linear-gradient(to right bottom, rgb(224, 223, 230), rgb(250, 250, 250));
}

#img-logo{
    margin-right: 10px;
}

.my-logo{
    width: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    color: white;
    text-shadow: 1px 1px 0px black;
}

nav ul{
    display: flex;
    justify-content: space-between;

}

ul li {
    list-style-type: none;

}

ul li a{
    text-decoration: none;
    padding-right: 1rem;
    font-family: "Martian Mono", monospace;
    font-size: 1rem;
    cursor:pointer;
    color: rgb(70, 69, 69);
} 

ul li a:hover{
    color: rgb(160, 11, 11);
} 

.content {
    height: 100vh;
    margin:2rem  7rem;
    box-shadow: 0px 0px 2px rgba(0,0,0.17);
}

.container {
	display: flex;
	justify-content: space-between;
    align-items: center;


}

/*topo até aqui*/

/*sobre o metodo  inicia aqui*/
h1{
    font-family: "Martian Mono", monospace;
    font-size: 1rem;
	text-align: center;
}

.sobre-o-metodo1{
    height: 900px;
    margin:2rem  7rem;
    box-shadow: 0px 0px 2px rgba(0,0,0.17);

}

.second-container{
display: flex;
flex-direction: column;
gap:1.5rem;
}

.block1, .block2, .block3{
    border: solid 2px rgb(102, 0, 128);
    height: 16rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto1, .texto2, .texto3{
    height: 240px;
    width: 500px;
    border: solid 2px black;
}

.image1, .image2, .image3{
    height: 240px;
    width: 400px;
    border: solid 2px green;
}

/*sobre o metodo acaba aqui*/

/*segunda parte*/
.segunda-parte{
    height: 960px;
    margin:2rem  7rem;
    box-shadow: 0px 0px 2px rgba(0,0,0.17);

    border: solid 2px blueviolet;

	display: flex;
	justify-content: space-around;
}

.second-container{
	
}


h3 {
	text-align:center;
	margin-top: 20px;
	margin-bottom: 10px;
	
	font-family: "Martian Mono", monospace;
}

.interview{
	display: flex;
	justify-content: space-around;
	gap: 1.5rem;
	
}

.interview > div:nth-child(1), .interview >  div:nth-child(2), .interview > div:nth-child(3){
	height: 250px;
	width: 320px;
	border: solid 2px red;
	border-radius: 6px;
}

.persons{
	display: flex;
	justify-content: space-around;
	gap: 1.5rem;
}

.persons > div:nth-child(1), .persons >  div:nth-child(2), .persons > div:nth-child(3){
	height: 250px;
	width:320px;
	border: solid 2px blue;
	border-radius: 6px;
}

.songs{
	display: flex;
	justify-content: space-around;
	gap: 1.5rem;
}

.songs > div:nth-child(1), .songs >  div:nth-child(2), .songs > div:nth-child(3){
	height: 250px;
	width:320px;
	border: solid 2px green;
	border-radius: 6px;
}
/*segunda parte vai até aqui*/

footer{
    height: 200px;
    margin:2rem  7rem;
    box-shadow: 0px 0px 2px rgba(0,0,0.17);
	
}